<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Overlay Placar</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
    <link rel="stylesheet" href="../static/score.css" />
    <link rel="stylesheet" href="../static/gol.css" />
    <link rel="stylesheet" href="../static/lowerThird.css" />
    <script src="../static/score.js"></script>
    <script src="../static/gol.js"></script>
    <script src="../static/lowerThird.js" defer></script>
  </head>

  <body>
    {% include "parts/placar.html" %} {% include "parts/gol.html" %}
    {% include "parts/lowerThird.html" %}