<div class="card-lower-third" id="card-lt">
  <div class="card-graphics-container">
    <div class="card-graphic" id="card-graphic-1"></div>

    <div class="card-graphic" id="card-graphic-2"></div>

    <div class="card-graphic" id="card-graphic-red"></div>
  </div>

  <div class="card-info">
    <img src="" alt="Logo" id="card-team-logo" />
    <p id="card-player-name">Nome do Jogador</p>
  </div>

  <div class="card-title">
    <p id="card-title-text">CARTÃO AMARELO</p>
  </div>
</div>
